@use "../../init" as *;

.c-product {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    padding: 3.2rem 2.4rem;
    overflow: hidden;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    border: 1px solid #f1f0f6;
    border-radius: 0.8rem;
    box-shadow: 0 4px 8px 0 #0000001f;
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;

    &:hover {
        box-shadow: 0 1rem 3rem rgb(0 0 0 / 8%);
        transform: translateY(-0.4rem);
    }

    &__header {
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 2.4rem);

        .c-product-badges {
            display: flex;
            flex-wrap: wrap;
            gap: 0.4rem;

            &__badge {
                padding: 0.8rem;
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 100%;
                color: white;
                border-radius: 0.4rem;

                &--discount {
                    background-color: #83278a; // purple from screenshot
                }

                &--new {
                    background-color: #00a34a; // green from screenshot
                }
            }
        }

        .c-product__compare {
            display: flex;
            gap: 0.4rem;
            opacity: 0;
            transition: opacity 0.2s ease;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3.2rem;
                height: 3.2rem;
                color: #666;
                cursor: pointer;
                background: #f1f0f6;
                border: 0;
                border-radius: 0.4rem;
                transition: all 0.2s;

                &:hover {
                    color: #dd1969;
                    background: #e5e3f0;
                }

                &.is-active {
                    color: #fff;
                    background: #dd1969;

                    svg {
                        path {
                            fill: #fff;
                            stroke: #fff;
                        }
                    }
                }

                svg {
                    width: 1.6rem;
                    height: 1.6rem;
                    pointer-events: none;
                }
            }
        }
    }

    &:hover {
        .c-product__compare {
            opacity: 1;
        }
    }

    &__image-wrap {
        width: 100%;
        max-width: 26.8rem;
        height: 19.6rem;
        background-color: white;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain; // using contain to show full image as placehold is 300x200
        }
    }

    &__body {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: 0.8rem;
    }

    &__rating {
        display: flex;
        gap: 0.4rem;
        align-items: center;

        .c-stars {
            display: flex;
            gap: 0.4rem;
            color: #f5d40e; // yellow stars

            svg {
                width: 1.3rem;
                height: 1.3rem;
            }
        }

        .c-review-count {
            font-size: 1.2rem;
            line-height: 100%;
        }
    }

    &__title {
        margin: 0;
        font-family: $font-heading;
        font-size: 1.6rem;
        font-weight: 800;
        line-height: 1.25;
    }

    &__sku {
        margin: 0;
        font-size: 1.3rem;
        line-height: 1.6;
        color: #555;
    }

    &__price {
        margin-top: auto;

        &__original {
            font-size: 1.3rem;
            color: #070216;
            text-decoration: line-through;
        }

        &__sale {
            font-family: $font-heading;
            font-size: 2rem;
            font-weight: 800;
            color: #dd1969;
        }

        &__novat {
            font-size: 1.3rem;
            color: #555;
        }
    }

    &__stock {
        margin: 0.8rem 0 2.4rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: #149721;
        text-decoration: underline;
    }

    &__actions {
        display: flex;
        gap: 2.6rem;
        align-items: center;

        .c-quantity {
            display: flex;
            gap: 0.6rem;
            align-items: center;
            height: 4.4rem;
            overflow: hidden;
            border-radius: 0.4rem;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: max-content;
                height: 100%;
                cursor: pointer;
                background: white;
                border: none;
                transition: scale 0.2s;

                &:hover {
                    svg {
                        scale: 1.2;
                    }
                }

                svg {
                    width: 1.1rem;
                    height: 1.1rem;
                }
            }

            &__value {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4.6rem;
                height: 100%;
                font-size: 1.4rem;
                font-weight: 600;
                user-select: none;
                border: 1px solid #f1f0f6;
                border-radius: 0.4rem;
            }
        }

        .c-add-cart {
            display: flex;
            flex-grow: 1;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            padding: 1.2rem 2.4rem;
            font-family: $font-heading;
            font-size: 1.6rem;
            font-weight: 700;
            color: white;
            cursor: pointer;
            background: #dd1969;
            border: none;
            border-radius: 0.4rem;
            transition: background 0.2s;

            &:hover {
                background: #c01559;
            }

            svg {
                width: 2.2rem;
                height: 2.2rem;
            }
        }
    }
}
