@use "../../init" as *;

.c-product {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    background: #fff;
    box-shadow: 0px 4px 8px 0px #0000001F;
    border-radius: 0.8rem;
    overflow: hidden;
    height: 100%;
    border: 1px solid #F1F0F6;

    padding: 3.2rem 2.4rem;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
    color: inherit;
    text-decoration: none;

    &:hover {
        transform: translateY(-0.4rem);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.08);
    }

    &__header {
        position: absolute;
        top: 1.2rem;
        left: 1.2rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: calc(100% - 2.4rem);

        .c-product-badges {
            display: flex;
            gap: 0.4rem;
            flex-wrap: wrap;

            &__badge {
                padding:  0.8rem;
                border-radius: 0.4rem;
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 100%;
                color: white;

                &--discount {
                    background-color: #83278A; // purple from screenshot
                }

                &--new {
                    background-color: #00A34A; // green from screenshot
                }
            }
        }
        
        .c-product__compare {
            display: flex;
            gap: 0.4rem;
            opacity: 0;
            transition: opacity 0.2s ease;
            
            button {
                display: flex;
                align-items: center;
                justify-content: center;

                background: #F1F0F6;
                border: 0;
                border-radius: 0.4rem;
                width: 3.2rem;
                height: 3.2rem;
                
                cursor: pointer;
                color: #666;
                transition: all 0.2s;
                
                &:hover {
                    background: #e5e3f0;
                    color: #DD1969;
                }

                &.is-active {
                    background: #DD1969;
                    color: #fff;

                    svg {
                        path {
                            fill: #fff;
                            stroke: #fff;
                        }

                    }
                }
                
                svg {
                    width: 1.6rem;
                    height: 1.6rem;
                    pointer-events: none;
                }
            }
        }
    }

    &:hover {
        .c-product__compare {
            opacity: 1;
        }
    }


    &__image-wrap {
        width: 100%;
        max-width: 26.8rem;
        height: 19.6rem;
        background-color: white;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain; // using contain to show full image as placehold is 300x200
        }

        
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 0.8rem;
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        
        .c-stars {
            display: flex;
            gap: 0.4rem;
            color: #F5D40E; // yellow stars
            
            svg {
                width: 1.3rem;
                height: 1.3rem;
            }
        }

        .c-review-count {
            
            font-size: 1.2rem;
            line-height: 100%;
        }
    }

    &__title {
        font-family: $font-heading;
        font-size: 1.6rem;
        font-weight: 800;
        margin: 0;
        line-height: 1.25;
    }

    &__sku {
        
        font-size: 1.3rem;
        line-height: 1.6;
        color: #555555;
        margin: 0;
    }

    &__price {
        margin-top: auto;
        
        &__original {
            text-decoration: line-through;
            color: #070216;
            font-size: 1.3rem;
        }
        
        &__sale {
            font-family: $font-heading;
            font-size: 2rem;
            font-weight: 800;
            color: #DD1969;
        }
        
        &__novat {
            color: #555555;
            font-size: 1.3rem;
            
        }
    }

    &__stock {
        font-size: 1.4rem;
        font-weight: 600;
        color: #149721;
        margin: 0.8rem 0 2.4rem 0;
        text-decoration: underline;
    }

    &__actions {
        display: flex;
        gap: 2.6rem;
        align-items: center;
        
        .c-quantity {
            display: flex;
            align-items: center;
            gap: 0.6rem;
            border-radius: 0.4rem;
            overflow: hidden;
            height: 4.4rem;
            
            button {
                width: max-content;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                background: white;
                border: none;
                cursor: pointer;
                transition: scale 0.2s;
                
                &:hover {
                    svg {
                        scale: 1.2;
                    }
                }

                svg {
                    width: 1.1rem;
                    height: 1.1rem;
                }
            }
            
            &__value {
                width: 4.6rem;
                height: 100%;
                border: 1px solid #F1F0F6;
                border-radius: 0.4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.4rem;
                font-weight: 600;
                user-select: none;
            }
        }
        
        .c-add-cart {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 1.2rem 2.4rem;

            gap: 1rem;
            background: #DD1969;
            color: white;
            border: none;
            border-radius: 0.4rem;
            font-family: $font-heading;
            font-size: 1.6rem;
            font-weight: 700;
            cursor: pointer;
            transition: background 0.2s;
            
            &:hover {
                background: #c01559;
            }
            
            svg {
                width: 2.2rem;
                height: 2.2rem;
            }
        }
    }
}
